<div class="col-md-12 bigTable">
  <div class="widget-box">

    <!--头部-->
    <div class="widget-header">
      <div class="row hTitle">
        <h4 class="blue"><b>软件列表</b></h4>
      </div>

      <div id="mainSearch" class="widget-main">
        <table class="table table-bordered table-search">
          <tbody>
            <tr>
              <th>软件名称：</th>
              <td><input type="text" cname="softName" operate="eq" placeholder="请输入软件名称" [(ngModel)]="searchName"></td>
            </tr>
            <tr>
              <td colspan="6">
                <div class="text-center">
                  <div class="allBtn">
                    <button class="btn btn-search pull-left" (click)="onBtnSearch();">
                      搜索<i class="icon-search icon-on-right" style="margin-left:3px"></i>
                  </button>
                    <button type="button" class="btn addBtn pull-left" data-target="#myModal">
                      新增<i class="icon-plus" style="margin-left:3px"></i>
                    </button>
                    <button class="btn btn-delete pull-left" type="button" (click)="moreDel()">
                      批量删除<i class="icon-trash" style="margin-left:3px"></i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
              <h4 class="modal-title">标题</h4>
            </div>
            <div class="modal-body">
              <label class="required">软件名：</label><input type="text" class="form-control" placeholder="请输入软件名" required [(ngModel)]="softName">
              <label class="required">版本号：</label><input type="text" class="form-control" placeholder="请输入版本号" required [(ngModel)]="version">
              <label class="required">权限人：</label><select data-placeholder="添加权限人" class="chosen-select form-control" tabindex="2"
                multiple="" id="sel">

                    <option [value]="role.roleid" *ngFor="let role of roles">{{role.rolename}}</option>
                  </select>
              <label class="required">上传文件：</label>
              <input type="file" class="form-control" value="" id="file" (change)="onUpload($event)">
              <span></span><br>
              上传进度：
              <progress value="0"></progress><br/>
              <p id="progress"></p>
              <p id="info"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="submit" class="btn btn-primary" (click)="onAddItem()">上传</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="widget-body widget-main">

      <table class="table datatable table-auto table-bordered table-striped" data-checkable="true" style="display:none">
        <thead>
          <tr class="text-center">
            <th style="display:none">id</th>
            <th>软件名</th>
            <th>版本</th>
            <th style="display:none">路径</th>
            <th>创建者</th>
            <th>创建时间</th>
            <th style="display:none">更新者</th>
            <th style="display:none">更新时间</th>
            <th>权限</th>
            <th style="display:none">权限</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of results" class="text-center">
            <td style="display:none">{{row.id}}</td>
            <td>{{row.softName}}</td>
            <td class="version">{{row.version}}</td>
            <td style="display:none">{{row.path}}</td>
            <td>{{row.createUserId}}</td>
            <td>{{row.createDate}}</td>
            <td style="display:none">{{row.modifyUserId}}</td>
            <td style="display:none">{{row.modifyDate}}</td>
            <td style="display:none">{{row.roleId}}</td>
            <td><button type="text" pButton icon="fa-external-link-square" label="Show" class="viewBtn btn">查看</button></td>
            <td *ngIf="row.enable==true" [class]="row.enable"><a href="javascript:;" class="btn btn-primary enable">已启用</a></td>
            <td *ngIf="row.enable==false" [class]="row.enable"><a href="javascript:;" class="btn enable">未启用</a></td>
            <td><a href="javascript:;" class="editBtn" data-target="#myModal2">编辑版本</a><a href="javascript:;" class="delBtn">删除</a></td>
          </tr>


        </tbody>

      </table>

      <p-dialog header="权限列表" [(visible)]="display" modal="modal" width="300" [responsive]="true">
        <li *ngFor="let item of roleIdList">{{item.rolename}}</li>
      </p-dialog>

      <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
              <h4 class="modal-title">更新版本号</h4>
            </div>
            <div class="modal-body">
              <label class="required">版本号：</label><input type="text" class="form-control" placeholder="请输入版本号" required [(ngModel)]="upDatedVersion">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="submit" class="btn btn-primary" (click)="onEditVersion()">保存</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <p-paginator rows="10" [totalRecords]="totalNum" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator>

  <div class="overLayer" *ngIf="loading">
    <img src="../../assets/images/loading.gif" alt="" class="img">
  </div>
</div>
